* {
  box-sizing: border-box;
}

html,
body {
  color: #444;
  font-family: 'Open Sans Semi Bold' , sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  overflow: hidden;
}

body {
  align-content: stretch;
  align-items: stretch;
  background: #171b26;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

/**
* Header
*/

.header {
  align-content: center;
  align-items: stretch;
  background: #1e2130;
  box-shadow:
    0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 2px 9px 1px rgba(0, 0, 0, 0.12),
    0 4px 2px -2px rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 20px;
  font-weight: 500;
  height: 120px;
  justify-content: flex-start;
  padding: 25px 25px 20px 25px;
  position: relative;
  transition: transform 0.233s cubic-bezier(0, 0, 0.21, 1) 0.1s;
  width: 100%;
  will-change: transform;
  z-index: 1000;
}

.header h1 {
  flex: 1;
  font-size: 23px;
  font-weight: 800;
  margin: 0;
}

.header .powered-by {
  color: white;
  font-size: 0.6em;
  font-weight: 500;
  text-decoration: none;
}

.main {
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 0px;
}

.smartforceps-login-info-card {    
  color: white;
  background: #1e2130;
  border-radius: 2px;
  box-shadow:
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  margin: 16px;
  padding: 16px;
  position: relative;
}

.smartforceps-login-button-card { 
  height: 0px;
  position: relative;
}

.smartforceps-goto-info-card {
  top: 150px;    
  color: white;
  background: #1e2130;
  border-radius: 2px;
  box-shadow:
    0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  margin: 16px;
  padding: 16px;
  position: relative;
}


.smartforceps-goto-button-card {
  top: 150px;    
  height: 0px;
  position: relative;
}

.center {
  margin: 10;
  position: absolute;
  top: 30px;    
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}

.button {
  position: relative;        
  background-color: #008CBA; 
  border: none;
  border-radius: 6px;        
  color: white;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  font-size: 15PX;
  transition-duration: 0.2s;
  cursor: pointer;
}


.button:hover {
  background-color: #171b26; 
  color: white;
  border: 2px solid #008CBA;    
}

.social-footer {
  align-content: center;
  align-items: stretch;    
  padding: 5px 5px 5px 5px;
  box-shadow:
    0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 2px 9px 1px rgba(0, 0, 0, 0.12),
    0 4px 2px -2px rgba(0, 0, 0, 0.2);
  background: $1e2130;
  font-size: 0.7em;
  color: white;
  display: center;
  flex-direction: row;
  flex-wrap: nowrap;    
  justify-content: space-between;
  position: relative;
  will-change: transform;
  z-index: 1000;

  .social-footer-icons {
    li:last-of-type {
      margin-right: 0;
    }

    .fa {
      font-size: 1.3rem;
      color: $171b26;

      &:hover {
        color: darken(, 25%);
        transition: color 0.3s ease-in;
      }
    }
  }
}


.social-footer {
  padding: 4vw;
  background: #1e2130;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-footer .social-footer-icons li:last-of-type {    
  margin-right: 0;
}

.social-footer .social-footer-icons .fa {
  margin-right: 1vw;    
  font-size: 3.5em;
  color: white;
}

.social-footer .social-footer-icons .fa:hover {
  color: powderblue;
  transition: color 0.3s ease-in;
}

